{% extends "base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}

{% block contenido %}
<h2>Iniciar sesión</h2>
<form method="POST" action="{{ url_for('iniciar_sesion') }}">
    {{ form.hidden_tag() }}

    {{ form.usuario.label }}<br />
    {{ form.usuario(size=32) }}<br />

    {{ form.clave.label }}<br />
    {{ form.clave(size=32) }}<br />

    {{ form.submit(class="btn btn-primary") }}
</form>

<p>¿No tienes cuenta? <a href="{{ url_for('registrarse') }}">Regístrate aquí</a>.</p>
{% endblock %}
