{% extends "base.html" %}

{% block body_class %}pagina-inicio{% endblock %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}

  <div class="contenido-superpuesto">

    {% if not session.get('logueado') %}
    <div class="botones-usuario">
      <a href="{{ url_for('registrarse') }}" class="btn btn-primario">Regístrate</a>
      <a href="{{ url_for('iniciar_sesion') }}" class="btn btn-secundario">Inicia sesión</a>
    </div>
    {% else %}
    <p class="saludo">¡Hola <strong>{{ session.get('usuario') }}</strong>! Ve a tu <a href="{{ url_for('panel') }}">Panel</a>.</p>
    {% endif %}
  </div>

{% endblock %}
